:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #ffffff;

  --color-primario: #A067EA;
  --color-secundario:#E3D5F0;
  --color-letra:#242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: start;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: max-content;
}

div{
  width: 100%;
}

#root {
    max-width: 1280px;
    text-align: center;
}

