.task-container ,.taskItemForm-container {
    display: flex;
    width: 85%;
    height: fit-content;
    flex-direction: column;
    background-color: var(--color-secundario);
    padding:15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px -4px rgba(0, 0, 0, 0.288);
    -webkit-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.288);
    -moz-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.288);
}

.task-container h3 {
    margin: 0 0 10px 0;
    word-wrap: break-word;     
    overflow-wrap: break-word;
    white-space: normal;
}

.task-container_buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;
    gap: 10px;
}

.task-container_buttons button {
    background-color: var(--color-primario);
    color: #ffffff;
    border-radius: 100%;
    border: 1px solid transparent;
    width: 34px;
    height: 34px;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 4px 4px 5px -4px rgba(0, 0, 0, 0.288);
    -webkit-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.288);
    -moz-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.288);
}

.task-container p {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.tarea-completada {
    color: #6eb48b;
    font-family: "Caveat", cursive;
    font-size: 25px;
    font-weight: bold;
}

.tarea-pendiente {
    color: #ca5656;
    font-family: "Caveat", cursive;
    font-size: 25px;
    font-weight: bold;
}

.task-container_buttons button:hover {
    background-color: #542d86;
}

.taskItemForm-container button {
    width: min-content;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
    background-color: var(--color-primario);
    color: #ffffff;
    align-self: flex-end;
    cursor: pointer;
    transition: background-color 0.25s;
}

.taskItemForm-container button:hover {
    background-color: #542d86;
}

.taskItemForm-container input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--color-primario);
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
}

.taskItemForm-container input:focus{
    outline: none;
    box-shadow: 0px 7px 7px -6px rgba(160,103,234,0.5);
    -webkit-box-shadow: 0px 7px 7px -6px rgba(160,103,234,0.5);
    -moz-box-shadow: 0px 7px 7px -6px rgba(160,103,234,0.5);
}

.taskItemForm-container p {
    color: var(--color-primario);
    font-weight: 500;
}